@use "../utils/colors.scss";

.city {
    display: flex;
    background-color: colors.$grey;
    text-align: center;
    justify-content: center;

    & i {
        display: inline-flex;
        align-items: center;
        font-size: 22px;
    }

    & h2 {
        padding: 20px;
    }
}