@use "../utils/mixins.scss";
@use "../utils/colors.scss";

.function-list {
    padding: 0 20px;
    margin-bottom: 64px;

    & h2 {
        width: auto;
    }

    & ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-inline-start: 0;


    }

    & li {
        display: flex;
        background-color: colors.$grey;
        padding: 20px 10px;
        border-radius: 25px;
        position: relative;
        margin-left: 15px;
        @include mixins.button-shadow;
    }

    & li:hover {
        color: black;
        background-color: colors.$purple-lighter;

    }

    & .function-text:hover {
        color: black;
    }


    & span {
        background-color: colors.$purple;
        font-size: 16px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        color: white;
        position: absolute;
        left: -11px;
        bottom: 35px;
        display: grid;
        place-items: center;
    }



    & i {
        display: flex;
        align-items: center;
        margin: 0 15px;
    }



}

.function-list li:hover {
    color: colors.$purple;
}

@media (min-width: 768px) {
    .function-list ul {
        flex-direction: row;
    }

    .function-list li {
        width: 100%;
    }
}