@use "../utils/mixins.scss";
@use "../utils/colors.scss";


.search-bar {

    text-align: center;
    margin-bottom: 55px;


    & h2 {
        margin-top: 22px;
    }

    & button {
        border-radius: 25px;
        color: white;
        padding: 16px 25px;
        border: none;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        @include mixins.button-shadow;
        @include mixins.gradient;

    }

    & button:hover {
        background: linear-gradient linear-gradient(353deg, #9356DC, #FF79DA);
        @include mixins.button-fx;
    }
}