@use "../utils/mixins.scss";
@use "../utils/colors.scss";


.search-bar {

    text-align: center;
    margin-bottom: 55px;


    & h2 {
        margin-top: 22px;
    }

    & button {
        @include mixins.button;
        @include mixins.button-shadow;
        @include mixins.gradient;
        transition: all 250ms ease-in-out;

    }

    & button:hover {
        @include mixins.gradient;
        @include mixins.button-fx;
    }
}